<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<h1 style="text-align:center;">Update checker</h1>
<p style="text-align:center;">Please provide checker name and github/gitlab link</p>
<form method="post">
    <p style="text-align:center;"><input type="text" name="name" id="name" class="form-control"><br>
    </p>
    <p style="text-align:center;"><input type="text" name="link" id="name" class="form-control"><br>
    </p>
    <p style="text-align:center;"><input type="submit" class="btn btn-success" value="Submit"><br></p>
</form>

<p style="text-align:center;"><a href="/teacher" class="btn btn-warning">Back to hub</a></p>
</body>
</html>