<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<h1 style="text-align:center;">Add new checker</h1>
<form method="post">
    <p style="text-align:center;"><input type="text" name="name" id="name" class="form-control"><br>
    </p>
     <p style="text-align:center;"><textarea name="script" id="script" class="form-control"></textarea><br>
    </p>
    <p style="text-align:center;"><input type="submit" class="btn btn-success" value="Add checker"><br></p>
</form>

</body>
</html>