<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<h1 style="text-align:center;">Add new homework</h1>
<p style="text-align:center;">Please provide homework name, task text and set deadline</p>
<form method="post">
    <p style="text-align:center;"><input type="text" name="name" id="name" class="form-control"><br>
    </p>
     <p style="text-align:center;"><textarea name="text" id="text" class="form-control"></textarea><br>
    </p>
    <p style="text-align:center;"><input type="date" name="deadline" id="deadline" class="form-control"><br>
    </p>
    <p style="text-align:center;"><input type="submit" class="btn btn-success" value="Submit"><br></p>
</form>

<p style="text-align:center;"><a href="/teacher" class="btn btn-warning">Back to hub</a></p>
</body>
</html>