{% extends 'base.html' %}

{% block  title %}
Main page
{% endblock %}

{% block body %}
<h1 style="text-align:center;">Teacher hub</h1>
<p style="text-align:center;"><a href="/teacher/new_homework" class="btn btn-warning">Add new homework</a></p>
<p style="text-align:center;"><a href="/teacher/results" class="btn btn-warning" style="text-align:center;">Show homework results</a></p>
<p style="text-align:center;"><a href="/teacher/new_checker" class="btn btn-warning">Add new checker</a></p>
{% endblock %}